// Dropdowns
.dropdown {
    &-toggle {
        &::after {
            content: "\f282"; // [Up: "\f286", Left: "\f284", Right: "\f285"]
            font-family: bootstrap-icons;
            border-width: 0;
            vertical-align: middle;
        }

        &[aria-expanded="true"] {
            color: $primary;
        }
    }

    &-menu {
        border-bottom: 5px solid $primary;
    }

    &-item {
        &.subtoggle {
            position: relative;
            display: grid;
            grid-template-columns: 1fr auto;
            grid-column-gap: 1.5rem;

            &::after {
                content: '\f285';
                font-family: bootstrap-icons;
            }
        }
    }

    @include media-breakpoint-down(md) {
        &-item {
            @include hover-focus() {
                color: inherit;
            }
        }

        &.show {
            .dropdown-toggle::after {
                content: '\f286';
            }
        }

        .subtoggle {
            &.open {
                color: $primary;

                &::after {
                    content: '\f286';
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &:hover {
            .dropdown-toggle::after {
                content: '\f286';
            }
        }
    }
}

// Cards
.card {

    // Latest
    &-latest {
        border-radius: 1.25rem 1.25rem 0 0;
        color: $body-color;
        box-shadow: $box-shadow;
        font-family: $headings-font-family;
        @include transition($transition-base);

        .card {
            &-img {
                aspect-ratio: 4 / 3;
                border-radius: inherit;
                background-color: $primary;
                background-clip: border-box;
                display: flex;
                align-items: center;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            &-body {
                padding-bottom: 2.5rem;
                position: relative;

                &::before {
                    content: "\f135";
                    font-family: bootstrap-icons;
                    position: absolute;
                    right: 1rem;
                    bottom: .75rem;
                    font-size: 2em;
                    color: $primary;
                    line-height: 1;
                }
            }

            &-date {
                text-align: center;
                font-weight: 500;
                color: $primary;
            }

            &-title {
                font-weight: 500;
            }

            &-text {
                b {
                    font-weight: 500;
                }
            }
        }
        @include media-breakpoint-up(lg){
            &:hover{
                transform: scale(1.025);
            }
        }
    }
}

// Slick
.slick {

    &-dots {
        bottom: .625rem;

        li {

            button {
                &::before {
                    font-size: 10px;
                    color: $white;
                    opacity: 1;
                }
            }

            &.slick-active {
                button::before {
                    color: $primary;
                }
            }
        }
    }

    &-arrow {
        width: 1.5rem;
        height: 1.5rem;

        &::before {
            font-family: bootstrap-icons;
            color: $body-color;
            font-size: 1.5rem;
        }
    }

    &-prev {
        left: -2rem;

        &::before {
            content: '\f284';
        }
    }

    &-next {
        right: -2rem;

        &::before {
            content: '\f285';
        }
    }

    &-h100 {
        .slick-track {
            display: flex !important;
        }

        .slick-slide {
            height: inherit !important;
        }
    }

    &-multiple-items {
        .slick-slide {
            padding: 12px 10px;
        }
    }

    @include media-breakpoint-up(lg) {
        &-dots {
            bottom: 1.75rem;
        }
    }
}

// Lists
.list {
    &-steps {
        list-style: none;
        padding-left: 0;

        &-item {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-column-gap: 1.5rem;

            &:not(:last-child) {
                margin-bottom: 0.625rem;

                .list-steps {
                    &-number {
                        strong {
                            &::before {
                                content: '';
                                position: absolute;
                                top: 1em;
                                left: 50%;
                                bottom: 0;
                                border-left: 2px dashed $primary;
                            }
                        }
                    }

                    &-details {
                        padding-bottom: 1rem;
                        min-height: 180px;
                    }
                }
            }
        }

        &-number {
            display: flex;
            flex-direction: column;
            text-align: center;

            strong {
                font-family: $headings-font-family;
                font-weight: bold;
                flex-grow: 1;
                font-size: 5em;
                line-height: 1.25;
                position: relative;
            }
        }

        @include media-breakpoint-up(lg) {
            &-item {
                &:not(:last-child) {
                    .list-steps {

                        &-details {
                            min-height: 200px;
                        }
                    }
                }
            }
        }
    }

    &-check {
        list-style: none;
        padding-left: 0;

        li {
            position: relative;
            padding-left: 1.75em;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            &::before {
                content: "\f26a";
                font-family: bootstrap-icons;
                font-size: 1.25em;
                color: $primary;
                position: absolute;
                top: -0.25em;
                left: 0;
            }
        }
    }
}

// Navs
.nav {
    &-tabs {
        .nav {
            &-link {
                color: $body-color;
                font-weight: 500;
                border-bottom: 8px solid transparent;

                &.active {
                    border-bottom-color: $secondary;
                }
            }
        }
    }

    &-filter {
        .nav {
            &-link {
                font-family: $headings-font-family;
                font-size: 1.25em;
                color: $secondary;
                border-bottom: 8px solid transparent;

                &.active {
                    border-bottom-color: $secondary;
                }
            }
        }
    }
}

// Pagination
.pagination {
    font-family: $headings-font-family;
    font-weight: bold;

    .page {
        &-item {
            &:first-child {
                .page-link {
                    border-radius: 0;
                }
            }

            &:last-child {
                .page-link {
                    border-radius: 0;
                }
            }

            &.active {
                .page-link {
                    border-bottom: 4px solid $primary;
                }
            }
        }
    }
}