// Noto Sans Thai + Open Sans
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

// Bootstrap Icon
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

// AIA Everest
@font-face {
    font-family: 'AIA Everest';
    src: url('../fonts/AIAEverest-ExtraBold.woff2') format('woff2'),
        url('../fonts/AIAEverest-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AIA Everest Condensed';
    src: url('../fonts/AIAEverest-CondensedMedium.woff2') format('woff2'),
        url('../fonts/AIAEverest-CondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AIA Everest';
    src: url('../fonts/AIAEverest-Bold.woff2') format('woff2'),
        url('../fonts/AIAEverest-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AIA Everest Condensed';
    src: url('../fonts/AIAEverest-Condensed.woff2') format('woff2'),
        url('../fonts/AIAEverest-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AIA Everest';
    src: url('../fonts/AIAEverest-Medium.woff2') format('woff2'),
        url('../fonts/AIAEverest-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AIA Everest';
    src: url('../fonts/AIAEverest-Regular.woff2') format('woff2'),
        url('../fonts/AIAEverest-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}