.header {
    &-slider {
        &-img {
            position: relative;
            z-index: -1;

            img {
                width: 100%;
            }
        }

        &-item {
            position: relative;
        }

        &-content {
            padding: 1.25rem 0 2.375rem;
        }
    }

    &-page {
        position: relative;

        &-img {
            img {
                width: 100%;
            }
        }

        &-overlay {
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @include media-breakpoint-down(md) {
        &-slider {
            &-overlay {
                background-color: $light;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &-slider {
            &-overlay {
                position: absolute;
                top: 72px;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
            }

            &-content {
                padding: 2.5rem 0;
            }
        }

        &-page {
            &-overlay {
                top: 72px;
            }
        }
    }
}