.header {
    &-slider {
        &-img {
            position: relative;
            z-index: -1;

            img {
                width: 100%;
            }
        }

        &-item {
            position: relative;
        }

        &-content {
            padding: 1.25rem 0 2.375rem;
        }
    }

    &-img {
        position: relative;

        &-bg {
            img {
                width: 100%;
            }
        }

        &-overlay {
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-page {
        position: relative;

        &-bg {
            img {
                height: 132px;
                width: 100%;
                object-fit: cover;
                object-position: right center;
            }
        }

        &-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
        }
    }

    &-earn-points {

        &-img {
            img {
                height: 420px;
                width: 100%;
                object-fit: cover;
                object-position: right center;
            }
        }
    }

    &-get-started {
        background-color: rgba(#4C4794, .1);
    }

    @include media-breakpoint-down(md) {
        &-slider {
            &-overlay {
                background-color: $light;
            }
        }

        &-page {
            margin-top: 60px;
        }

        &-earn-points {
            margin-top: 60px;
        }
    }

    @include media-breakpoint-up(lg) {
        &-slider {
            &-img {
                max-height: calc(100vh - 128px);
            }

            &-overlay {
                position: absolute;
                top: 72px;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
            }

            &-content {
                padding: 2.5rem 0;
            }
        }

        &-img {
            &-overlay {
                top: 72px;
            }
        }

        &-page {
            &-bg {
                img {
                    height: 262px;
                }
            }

            &-overlay {
                top: 72px;
            }
        }

        &-earn-points {
            padding: 136px 0 84px;
            max-height: calc(100vh - 136px);

            .container-lg {
                position: relative;
            }

            &-overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding-top: 4rem;
                padding-left: 2rem;
                display: flex;
            }
        }
    }
}