main {

    // Sections
    >section {
        padding: 2.8125rem 0;

        @include media-breakpoint-up(lg) {
            padding: 3.75rem 0;
        }
    }

    // Links
    .links {
        padding: 1rem 0;

        .nav {
            max-width: 700px;
            margin: 0 auto;

            &-link {
                display: flex;
                flex-direction: column;
                text-align: center;
                color: $body-color;

                i {
                    font-size: 3em;
                    margin-bottom: 0.5rem;
                    color: $secondary;
                }

                &:hover {
                    i {
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    // What
    .what {
        background-color: $light;

        &-card {
            .card {
                min-height: 345px;
                background: $white url("../img/bg-card.svg") no-repeat left bottom/auto;
            }
        }

        @include media-breakpoint-up(lg) {
            &-grid {
                display: grid;
                grid-template-areas: "details card""actions card";
                grid-template-columns: 1fr 370px;
                grid-column-gap: 8%;
                align-items: center;
            }

            &-details {
                grid-area: details;
            }

            &-card {
                grid-area: card;

                .card {
                    min-height: 370px;
                }
            }

            &-actions {
                grid-area: actions;
            }
        }
    }

    // Why
    .why {
        background-color: $primary-light;
    }

    // How
    .how {
        .list-steps {
            max-width: 470px;
            margin: 0 auto;
        }
    }

    // Latest
    .latest {
        background-color: $light;
    }

    // Get Rewards
    .get-rewards {
        background-color: $light;
    }

    // Rewards List
    .rewards-list {
        &-item {
            padding: 1rem 0;

            &:nth-child(2n+1) {
                background-color: rgba($brown-light, .25);
            }

            &:nth-child(3n+4) {
                background-color: $light;
            }
        }

        &-img {
            text-align: center;

            img {
                max-width: 100%;
                max-height: 180px;
            }
        }

        &-details {
            p {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        @include media-breakpoint-up(md) {
            &-item {
                .container {
                    display: grid;
                    grid-template-columns: 1fr 3fr;
                    grid-column-gap: 1rem;
                    align-items: center;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            &-img {
                img {
                    max-height: 240px;
                }
            }
        }
    }

    // Rewards
    .rewards {
        &-aia-vitality {
            &-plus {
                background-color: rgba($primary, .25);
            }
        }

        @include media-breakpoint-up(lg) {
            &-slider {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
            }
        }

        @include media-breakpoint-up(xl) {
            &-slider {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }

    // Related article
    .related-article {
        background-color: rgba($brown-light, .25);
    }
}