// Text
.text {
    &-shadow {
        text-shadow: 0 3px 6px rgba($black, .16);
    }

    &-facebook {
        color: $facebook !important;
    }

    &-line {
        color: $line !important;
    }

    &-twitter {
        color: $twitter !important;
    }
}

.font {
    &-heading {
        font-family: $headings-font-family !important;
    }

    &-weight {
        &-medium {
            font-weight: 500;
        }

        &-semibold {
            font-weight: 600;
        }
    }
}

// Background
.bg {
    &-primary {
        &-20 {
            background-color: rgba($primary, .2);
        }
    }
}

// Borders
.border {
    &-dashed {
        border-style: dashed;
    }
}