// Text
.font {
    &-heading {
        font-family: $headings-font-family !important;
    }

    &-weight {
        &-medium {
            font-weight: 500;
        }

        &-semibold {
            font-weight: 600;
        }
    }
}