// Colors
$primary: #D31145;
$primary-light: #FFE6E9;
$secondary: #1F78AD;
$danger: #FE7884;
$warning: #FCBD52;
$dark: #333D47;
$light: #F7F7F9;
$black: #000000;
$white: #ffffff;
$brown: #D3CAC3;
$brown-light: #D3CAC3;

$facebook: #3B5998;
$line: #00C200;
$twitter: #37A7DF;

// Options
$enable-shadows: true;
$enable-responsive-font-sizes: true;

// Body
$body-color: $dark;

// Fonts
$font-family-base: 'Noto Sans Thai',
'Open Sans';

// Dropdowns
$dropdown-border-width: 0;
$dropdown-border-radius: 0;
$dropdown-link-hover-color: $primary;
$dropdown-link-hover-bg: transparent;
$dropdown-link-active-bg: transparent;
$dropdown-link-active-color: inherit;

// Headings
$headings-font-family: 'Noto Sans Thai',
'AIA Everest';
$headings-font-weight: 600;

// Components
$border-radius: 0.625rem;

$box-shadow-sm: 0 3px 6px rgba($black, .16);
$box-shadow: 0 3px 15px rgba($black, .16);
// $box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

// Buttons + Forms
$input-btn-padding-y: .5rem;

// Buttons
$btn-font-weight: 600;

// Cards
$card-border-width: 0;

// Links
$link-hover-decoration: none;

// Navs
$nav-tabs-border-width: 0;
$nav-tabs-border-radius:0;
$nav-tabs-link-active-color: $body-color;
$nav-tabs-link-active-border-color:$secondary;

// Pagination
$pagination-color: $body-color;
$pagination-border-width:0;
$pagination-hover-bg: transparent;
$pagination-active-color: $primary;
$pagination-active-bg: transparent;
$pagination-focus-box-shadow: none;