// Fonts
$font-family-base: 'Noto Sans Thai',
'Open Sans';
// $font-size-mb: 0.9375rem;
// $font-size-pc: 1.125rem;
$font-weight-semibold: 600;
$line-height-base: 1.375;

// Colors
$primary: #D31145;
$primary-light: #FF7A85;
$secondary: #1F78AD;
$dark: #333D47;
$white: #ffffff;
$black: #000000;

// Body
$body-color: $dark;

// Shadow
$box-shadow: 0 3px 6px rgba($black,.16);

// Buttons
$btn-border-radius: 11px;

// Links
$link-hover-decoration: none;

// Grid
$grid-gutter-width: 20px;

// Buttons + Forms
$input-btn-padding-y: .75rem;