// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');
// font-family: 'Noto Sans Thai', sans-serif;
// font-family: 'Open Sans', sans-serif;

// Bootstrap
@import './variables';
@import './bootstrap/bootstrap.scss';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

@import './utilities';
@import './components';

@import './navbar';
@import './header';

@import './pages/home';

// Body
body{
    // font-size: $font-size-mb;
    // @include media-breakpoint-up(xl){
    //     font-size: $font-size-pc;
    // }
}

// Main
main{
    section{
        padding-top: 25px;
        padding-bottom: 25px;
        @include media-breakpoint-up(lg){
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}